{% extends "base.html" %}

{% block content %}

    <h2 class="text-center text-primary">Terrace Farming</h2>
    <h4 class="text-dark mt-5">Organic Tereace Garden:</h4>
    <p class="text-secondary">Organic Farming is the ‘in’ thing. Everyone is talking about it and many want to become an Organic Farmer themselves. Even movie stars are into it now. There are separate racks in stores for organic produce and even certain beauty products are being labeled as organic now. </p>
    <div class="card card-bordered mt-5">
        <div class="card-body p-0">
            <iframe width="394" height="320" style="border-radius: .5rem;"
            src="https://www.youtube.com/embed/XVEVYxKcXro">
            </iframe> 
        </div>
    </div>

    <h4 class="text-dark mt-5">Organic Fertilizers:</h4>
    <p class="text-secondary">Organic vs Synthetic Chemical Fertilizers. For me, there's no question that Organic, slow-release, complete fertilizing solutions is the best way to feed our gardens. In fact, we should be feeding our soil to feed our plants.</p>
    <div class="card card-bordered mt-5">
        <div class="card-body p-0">
            <iframe width="394" height="320" style="border-radius: .5rem;"
            src="https://www.youtube.com/embed/ZngzSHtcq2A">
            </iframe> 
        </div>
    </div>

    <h4 class="text-dark mt-5">Planning for Terrace Garden:</h4>
    <p class="text-secondary">Complete Construction Details is all about constructing a house in 30*40 site with all the details, day by day progress videos. So that it helps to understand how exactly a beautiful house is constructed.</p>
    <div class="card card-bordered mt-5">
        <div class="card-body p-0">
            <iframe width="394" height="320" style="border-radius: .5rem;"
            src="https://www.youtube.com/embed/q7z4gf9x5zo">
            </iframe> 
        </div>
    </div>

{% endblock %}

{% block menu %}
    <div class="d-grid">
        <div class="mt-auto btn-group" role="group" aria-label="menu_button">
            <a href="/workout/" class="btn btn-primary"><i class="fa-solid fa-person-walking"></i> Workout</a>
            <a href="/users/alert-notifications/" class="btn btn-primary"><i class="fa-solid fa-bell"></i> Alert</a>
            <button type="button" class="btn btn-primary"><i class="fa-solid fa-utensils"></i> Diet</button>
            <button type="button" class="btn btn-primary"><i class="fa-solid fa-wheat-awn"></i> Farm</button>
            <a href="/advisor/slot-booking/" class="btn btn-primary"><i class="fa-solid fa-people-group"></i> Advisor</a>
        </div>
    </div>
{% endblock %}